---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Pueblo&open_now=true&term
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer O1e1jAeUFmrRf9UngEwSHtZpj4PiyeGvZwoaH6T2I2k5Reb8qvZYtQ_W2EbfZ3xOguKJl6h3Z2DVG6eShDVQF0YrYHf9IAbXgpveimlfk0fKMn6nn3gDeqVdP_IFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4996'
      X-Zipkin-Id:
      - 03e7b8de9b8e4f51
      Ratelimit-Resettime:
      - '2021-01-21T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-pbzvp; site=public_api_v3
      X-Proxied:
      - 10-69-128-115-uswest2bprod
      X-Extlb:
      - 10-69-128-115-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "ohD11-Q1y0Y3tNy0LjyTqw", "alias": "la-forchetta-da-massi-pueblo",
        "name": "La Forchetta Da Massi", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/ZHuEgQrbjTkf_TX6VT_hmw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/la-forchetta-da-massi-pueblo?adjust_creative=tUVIupRtW2WGbzsc8ulTGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tUVIupRtW2WGbzsc8ulTGw",
        "review_count": 140, "categories": [{"alias": "italian", "title": "Italian"},
        {"alias": "wine_bars", "title": "Wine Bars"}], "rating": 4.5, "coordinates":
        {"latitude": 38.2645118031982, "longitude": -104.613206125796}, "transactions":
        ["delivery"], "price": "$$", "location": {"address1": "126 S Union Ave", "address2":
        "", "address3": null, "city": "Pueblo", "zip_code": "81003", "country": "US",
        "state": "CO", "display_address": ["126 S Union Ave", "Pueblo, CO 81003"]},
        "phone": "+17192530126", "display_phone": "(719) 253-0126", "distance": 3538.389354175468},
        {"id": "S_sW4cZsXUC60GUrtIHe3A", "alias": "shamrock-brewing-pueblo", "name":
        "Shamrock Brewing", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/ZwZFj0uUcYJATEUaC0E5Bg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/shamrock-brewing-pueblo?adjust_creative=tUVIupRtW2WGbzsc8ulTGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tUVIupRtW2WGbzsc8ulTGw",
        "review_count": 345, "categories": [{"alias": "irish",[...]
