---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Miami,%20FL&key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&to=Fairbanks,%20AK&transportMode=AUTO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 19 Jan 2021 03:30:51 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":true,"hasBridge":true,"boundingBox":{"lr":{"lng":-80.172951,"lat":25.774994},"ul":{"lng":-147.739426,"lat":64.83709}},"distance":4910.4219,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"77:32:53","sessionId":"6006526b-00fd-5f21-02b4-3355-063708275551","hasAccessRestriction":false,"realTime":298354,"hasSeasonalClosure":false,"hasCountryCross":true,"fuelUsed":229.41,"legs":[{"hasTollRoad":true,"hasBridge":true,"destNarrative":"Proceed
        to FAIRBANKS, AK.","distance":4910.4219,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"index":0,"formattedTime":"77:32:53","origIndex":4,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":true,"roadGradeStrategy":[[]],"destIndex":46,"time":279173,"hasUnpaved":false,"origNarrative":"Go
        north on I-95 N.","maneuvers":[{"distance":0.189,"streets":["NW 1st St"],"narrative":"Start
        out going west on NW 1st St toward NW 1st Ave.","turnType":0,"startPoint":{"lng":-80.194702,"lat":25.775084},"index":0,"formattedTime":"00:00:54","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&size=225,160&locations=25.775083541870117,-80.1947021484375|marker-1||25.774993896484375,-80.19773864746094|marker-2||&center=25.775038719177246,-80.19622039794922&defaultMarker=none&zoom=13&rand=-1316269412&session=6006526b-00fd-5f21-02b4-3355-063708275551","transportMode":"AUTO","attributes":0,"time":54,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":7},{"distance":0.332,"streets":["NW
        2nd Ave"],"narrative":"Turn right onto NW 2nd Ave.","turnType":2,"startPoint":{"lng":-80.197739,"lat":25.774994},"index":1,"formattedTime":"00:00:49","directionName":"North","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&size=225,160&locations=25.774993896484375,-80.19773864746094|marker-2||25.779809951782227,-80.19791412353516|marker-3||&center=25.7774019241333,-80.[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&location=Fairbanks,%20AK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 19 Jan 2021 03:30:52 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Fairbanks,
        AK"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Fairbanks","adminArea5Type":"City","adminArea4":"Fairbanks
        North Star Borough","adminArea4Type":"County","adminArea3":"AK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282022055","unknownInput":"","type":"s","latLng":{"lat":64.836661,"lng":-147.738891},"displayLatLng":{"lat":64.836661,"lng":-147.738891},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&type=map&size=225,160&locations=64.836661,-147.738891|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1582903567"}]}]}'
  recorded_at: Tue, 19 Jan 2021 03:30:52 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=90b7b46942482cad09acd0411e6fd039&lat=64.836661&lon=-147.738891&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":64.8367,"lon":-147.7389,"timezone":"America/Anchorage","timezone_offset":-32400,"current":{"dt":1611027052,"sunrise":1610997463,"sunset":1611017096,"temp":28.65,"feels_like":17.65,"pressure":983,"humidity":44,"dew_point":11.57,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":9.22,"wind_deg":90,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1611025200,"temp":28.65,"feels_like":20.48,"pressure":983,"humidity":44,"dew_point":11.57,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":4.21,"wind_deg":134,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.02},{"dt":1611028800,"temp":25.16,"feels_like":17.19,"pressure":986,"humidity":69,"dew_point":17.4,"uvi":0,"clouds":69,"visibility":10000,"wind_speed":4.72,"wind_deg":72,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1611032400,"temp":23.83,"feels_like":15.78,"pressure":988,"humidity":84,"dew_point":20.17,"uvi":0,"clouds":87,"visibility":10000,"wind_speed":5.37,"wind_deg":62,"weather":[{"id":804,"main":"Clouds","description":"overcast
 [...]
