---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Miami,%20FL&key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&to=Fairbanks,%20AK&transportMode=AUTO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sat, 30 Jan 2021 23:09:21 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":true,"hasBridge":true,"boundingBox":{"lr":{"lng":-80.172951,"lat":25.774994},"ul":{"lng":-147.739426,"lat":64.83709}},"distance":4910.4219,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"77:32:53","sessionId":"6015e720-03c5-6750-02b4-32d2-0a998b967447","hasAccessRestriction":false,"realTime":291300,"hasSeasonalClosure":false,"hasCountryCross":true,"fuelUsed":229.41,"legs":[{"hasTollRoad":true,"hasBridge":true,"destNarrative":"Proceed
        to FAIRBANKS, AK.","distance":4910.4219,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"index":0,"formattedTime":"77:32:53","origIndex":4,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":true,"roadGradeStrategy":[[]],"destIndex":46,"time":279173,"hasUnpaved":false,"origNarrative":"Go
        north on I-95 N.","maneuvers":[{"distance":0.189,"streets":["NW 1st St"],"narrative":"Start
        out going west on NW 1st St toward NW 1st Ave.","turnType":0,"startPoint":{"lng":-80.194702,"lat":25.775084},"index":0,"formattedTime":"00:00:54","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&size=225,160&locations=25.775083541870117,-80.1947021484375|marker-1||25.774993896484375,-80.19773864746094|marker-2||&center=25.775038719177246,-80.19622039794922&defaultMarker=none&zoom=13&rand=1695762276&session=6015e720-03c5-6750-02b4-32d2-0a998b967447","transportMode":"AUTO","attributes":0,"time":54,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":7},{"distance":0.332,"streets":["NW
        2nd Ave"],"narrative":"Turn right onto NW 2nd Ave.","turnType":2,"startPoint":{"lng":-80.197739,"lat":25.774994},"index":1,"formattedTime":"00:00:49","directionName":"North","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&size=225,160&locations=25.774993896484375,-80.19773864746094|marker-2||25.779809951782227,-80.19791412353516|marker-3||&center=25.7774019241333,-80.[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&location=Fairbanks,%20AK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 30 Jan 2021 23:09:21 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Fairbanks,
        AK"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Fairbanks","adminArea5Type":"City","adminArea4":"Fairbanks
        North Star Borough","adminArea4Type":"County","adminArea3":"AK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282022055","unknownInput":"","type":"s","latLng":{"lat":64.836661,"lng":-147.738891},"displayLatLng":{"lat":64.836661,"lng":-147.738891},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&type=map&size=225,160&locations=64.836661,-147.738891|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1102136996"}]}]}'
  recorded_at: Sat, 30 Jan 2021 23:09:21 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=90b7b46942482cad09acd0411e6fd039&lat=64.836661&lon=-147.738891&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":64.8367,"lon":-147.7389,"timezone":"America/Anchorage","timezone_offset":-32400,"current":{"dt":1612048161,"sunrise":1612032114,"sunset":1612056396,"temp":-4.81,"feels_like":-13.45,"pressure":1019,"humidity":71,"dew_point":-11.13,"uvi":0.09,"clouds":90,"visibility":6437,"wind_speed":3.44,"wind_deg":90,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}]},"hourly":[{"dt":1612047600,"temp":-4.81,"feels_like":-11.92,"pressure":1019,"humidity":71,"dew_point":-11.13,"uvi":0.09,"clouds":90,"visibility":913,"wind_speed":0.74,"wind_deg":143,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.04},{"dt":1612051200,"temp":-6.92,"feels_like":-14.17,"pressure":1020,"humidity":80,"dew_point":-11,"uvi":0,"clouds":94,"visibility":947,"wind_speed":1.01,"wind_deg":123,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.04},{"dt":1612054800,"temp":-9.06,"feels_like":-16.29,"pressure":1022,"humidity":86,"dew_point":-11.81,"uvi":0,"clouds":98,"visibility":751,"wind_speed":0.94,"wind_deg":149,"weather":[{"id":804,"main":"Clouds","description":"ove[...]
