---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&to=Niwot,%20CO&transportMode=AUTO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sat, 30 Jan 2021 23:09:18 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.978493,"lat":39.738453},"ul":{"lng":-105.169159,"lat":40.101604}},"distance":37.881,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"00:42:58","sessionId":"6015e71e-0304-6750-02b4-3276-12b0a808268d","hasAccessRestriction":false,"realTime":2693,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":1.76,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to NIWOT, CO.","distance":37.881,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"00:42:58","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":7,"time":2578,"hasUnpaved":false,"origNarrative":"Go
        west on E Colfax Ave/I-70 Bus W/US-40 W/US-287 N.","maneuvers":[{"distance":0.135,"streets":["E
        14th Ave"],"narrative":"Start out going east on E 14th Ave toward N Grant
        St.","turnType":0,"startPoint":{"lng":-104.984856,"lat":39.738453},"index":0,"formattedTime":"00:00:23","directionName":"East","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&size=225,160&locations=39.73845291137695,-104.98485565185547|marker-1||39.73845291137695,-104.9823226928711|marker-2||&center=39.73845291137695,-104.98358917236328&defaultMarker=none&zoom=13&rand=1066697824&session=6015e71e-0304-6750-02b4-3276-12b0a808268d","transportMode":"AUTO","attributes":0,"time":23,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":8},{"distance":0.11,"streets":["N
        Logan St"],"narrative":"Turn left onto N Logan St.","turnType":6,"startPoint":{"lng":-104.982323,"lat":39.738453},"index":1,"formattedTime":"00:00:21","directionName":"North","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&size=225,160&locations=39.73845291137695,-104.9823226928711|marker-2||39.740047454833984,-104.98233795166016|marker-3||&center=39.73925018310547,-104.98233032226562&defaultMarker=none&zoom=12&rand=1066697824&session=6015e71e-0304-6750-02b4-3276-12b0a808268d","transportMode":"AUTO","attributes":0,"time":21,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/rs_left_sm.gif","direction":1},{"distance":1.482,"streets":["E
        Colfax Ave","I-70 Bus W","US-40 W","US-287 N"],"narrative":"Turn left onto
        E Colfax Ave/I-70 Bus W/US-40 W/US-287 N.","turnType":6,"startPoint":{"lng":-104.982338,"lat":39.740047},"index":2,"formattedTime":"00:03:12","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[{"extraText":"","text":"70","type":5,"url":"http://icons.mqcdn.com/icons/rs5.png?n=70&d=WEST","direction":7},{"extraText":"","text":"40","type":2,"url":"http://icons.mqcdn.com/icons/rs2.png?n=40&d=WEST","direction":7},{"extraText":"","text":"287","type":2,"url":"http://icons.mqcdn.com/icons/rs2.png?n=287&d=NORTH","direction":1}],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&size=225,160&locations=39.740047454833984,-104.98233795166016|marker-3||39.7403450012207,-105.00968170166016|marker-4||&c[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&location=Niwot,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 30 Jan 2021 23:09:18 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Niwot,
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Niwot","adminArea5Type":"City","adminArea4":"Boulder
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039764","unknownInput":"","type":"s","latLng":{"lat":40.101604,"lng":-105.169158},"displayLatLng":{"lat":40.101604,"lng":-105.169158},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&type=map&size=225,160&locations=40.101604,-105.169158|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1898040983"}]}]}'
  recorded_at: Sat, 30 Jan 2021 23:09:18 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=90b7b46942482cad09acd0411e6fd039&lat=40.101604&lon=-105.169158&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.1016,"lon":-105.1692,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1612048159,"sunrise":1612015855,"sunset":1612052220,"temp":48.58,"feels_like":37.13,"pressure":1014,"humidity":23,"dew_point":14.61,"uvi":0.26,"clouds":1,"visibility":10000,"wind_speed":10.36,"wind_deg":280,"wind_gust":17.27,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1612048200,"precipitation":0},{"dt":1612048260,"precipitation":0},{"dt":1612048320,"precipitation":0},{"dt":1612048380,"precipitation":0},{"dt":1612048440,"precipitation":0},{"dt":1612048500,"precipitation":0},{"dt":1612048560,"precipitation":0},{"dt":1612048620,"precipitation":0},{"dt":1612048680,"precipitation":0},{"dt":1612048740,"precipitation":0},{"dt":1612048800,"precipitation":0},{"dt":1612048860,"precipitation":0},{"dt":1612048920,"precipitation":0},{"dt":1612048980,"precipitation":0},{"dt":1612049040,"precipitati[...]
