---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&location=Daegu,%20South%20Korea
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 19 Jan 2021 03:06:27 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Daegu,
        South Korea"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Daegu","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"KR","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282816502","unknownInput":"","type":"s","latLng":{"lat":35.8666,"lng":128.600006},"displayLatLng":{"lat":35.8666,"lng":128.600006},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&type=map&size=225,160&locations=35.8666,128.600006|marker-sm-50318A-1&scalebar=true&zoom=12&rand=214906066"}]}]}'
  recorded_at: Tue, 19 Jan 2021 03:06:27 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=90b7b46942482cad09acd0411e6fd039&lat=35.8666&lon=128.600006&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.8666,"lon":128.6,"timezone":"Asia/Seoul","timezone_offset":32400,"current":{"dt":1611025587,"sunrise":1611009228,"sunset":1611045498,"temp":28.4,"feels_like":18.21,"pressure":1032,"humidity":29,"dew_point":3.13,"uvi":3.07,"clouds":0,"visibility":10000,"wind_speed":6.91,"wind_deg":300,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1611025620,"precipitation":0},{"dt":1611025680,"precipitation":0},{"dt":1611025740,"precipitation":0},{"dt":1611025800,"precipitation":0},{"dt":1611025860,"precipitation":0},{"dt":1611025920,"precipitation":0},{"dt":1611025980,"precipitation":0},{"dt":1611026040,"precipitation":0},{"dt":1611026100,"precipitation":0},{"dt":1611026160,"precipitation":0},{"dt":1611026220,"precipitation":0},{"dt":1611026280,"precipitation":0},{"dt":1611026340,"precipitation":0},{"dt":1611026400,"precipitation":0},{"dt":1611026460,"precipitati[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&to=Daegu,%20South%20Korea&transportMode=AUTO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sat, 30 Jan 2021 23:24:37 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"routeError":{"errorCode":2,"message":""}},"info":{"statuscode":402,"copyright":{"imageAltText":"©
        2021 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","text":"©
        2021 MapQuest, Inc."},"messages":["We are unable to route with the given locations."]}}'
  recorded_at: Sat, 30 Jan 2021 23:24:37 GMT
recorded_with: VCR 6.0.0
