---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&location=%23%3CMap:0x00007f88ec5b5230%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 16 Jan 2021 22:29:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"#<Map:0x00007f88ec5b5230>"},"locations":[{"street":"Avenida
        01-JI 5230","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rio
        Claro","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"S\u00E3o
        Paulo","adminArea3Type":"State","adminArea1":"BR","adminArea1Type":"Country","postalCode":"13503","geocodeQualityCode":"L1CCA","geocodeQuality":"ADDRESS","dragPoint":false,"sideOfStreet":"N","linkId":"BR/ADDR/p0/4224801","unknownInput":"","type":"s","latLng":{"lat":-22.42661,"lng":-47.58083},"displayLatLng":{"lat":-22.42661,"lng":-47.58083},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&type=map&size=225,160&locations=-22.42661,-47.58083|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-928961470"}]}]}'
  recorded_at: Sat, 16 Jan 2021 22:29:56 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 30 Jan 2021 23:24:36 GMT
      Reversegeocodetransactioncount:
      - '0'
      Stat[...]
