---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&to=Pueblo,%20CO&transportMode=AUTO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 18 Jan 2021 19:54:05 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.605087,"lat":38.265427},"ul":{"lng":-104.98761,"lat":39.738453}},"distance":111.38,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"01:44:22","sessionId":"6005e75d-01a1-5f21-02b4-3305-0612945562af","hasAccessRestriction":false,"realTime":6597,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":5.5,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to PUEBLO, CO.","distance":111.38,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"01:44:22","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":5,"time":6262,"hasUnpaved":false,"origNarrative":"Go
        south on N Broadway.","maneuvers":[{"distance":0.109,"streets":["N Sherman
        St"],"narrative":"Start out going south on N Sherman St toward E 13th Ave.","turnType":0,"startPoint":{"lng":-104.984856,"lat":39.738453},"index":0,"formattedTime":"00:00:33","directionName":"South","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&size=225,160&locations=39.73845291137695,-104.98485565185547|marker-1||39.73687744140625,-104.9848403930664|marker-2||&center=39.7376651763916,-104.98484802246094&defaultMarker=none&zoom=13&rand=-2034955174&session=6005e75d-01a1-5f21-02b4-3305-0612945562af","transportMode":"AUTO","attributes":0,"time":33,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":4},{"distance":0.135,"streets":["E
        13th Ave"],"narrative":"Turn right onto E 13th Ave.","turnType":2,"startPoint":{"lng":-104.98484,"lat":39.736877},"index":1,"formattedTime":"00:00:22","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&size=225,160&locations=39.73687744140625,-104.9848403930664|marker-2||39.73686981201172,-104.98737335205078|marker-3||&center=39.736873626708984,-104[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&location=Pueblo,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 18 Jan 2021 19:54:05 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Pueblo,
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pueblo","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040865","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-528634130"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932014","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-2109710712"}]}]}'
  recorded_at: Mon, 18 Jan 2021 19:54:05 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=90b7b46942482cad09acd0411e6fd039&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610999645,"sunrise":1610979147,"sunset":1611014707,"temp":42.21,"feels_like":30.96,"pressure":1017,"humidity":33,"dew_point":17.04,"uvi":1.63,"clouds":90,"visibility":10000,"wind_speed":10.36,"wind_deg":30,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1610999700,"precipitation":0},{"dt":1610999760,"precipitation":0},{"dt":1610999820,"precipitation":0},{"dt":1610999880,"precipitation":0},{"dt":1610999940,"precipitation":0},{"dt":1611000000,"precipitation":0},{"dt":1611000060,"precipitation":0},{"dt":1611000120,"precipitation":0},{"dt":1611000180,"precipitation":0},{"dt":1611000240,"precipitation":0},{"dt":1611000300,"precipitation":0},{"dt":1611000360,"precipitation":0},{"dt":1611000420,"precipitation":0},{"dt":1611000480,"precipitation":0},{"dt":1611000540,"precipitati[...]
