---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&location=%7B%22location%22=%3E%22denver,%20co%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 16 Jan 2021 18:49:22 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"denver,
        co\"}"},"locations":[{"street":"Denver West County Mills Boulevard","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p3/699867","unknownInput":"","type":"s","latLng":{"lat":39.72906,"lng":-105.16534},"displayLatLng":{"lat":39.72906,"lng":-105.16534},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&type=map&size=225,160&locations=39.72906,-105.16534|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1350761542"},{"street":"Denver
        Avenue","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Fort
        Lupton","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80621","geocodeQualit[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=90b7b46942482cad09acd0411e6fd039&lat=39.72906&lon=-105.16534&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7291,"lon":-105.1653,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610822962,"sunrise":1610806755,"sunset":1610841686,"temp":45.61,"feels_like":37.26,"pressure":833,"humidity":36,"dew_point":21.54,"uvi":2.03,"clouds":58,"visibility":10000,"wind_speed":5.99,"wind_deg":93,"wind_gust":11.01,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1610823000,"precipitation":0},{"dt":1610823060,"precipitation":0},{"dt":1610823120,"precipitation":0},{"dt":1610823180,"precipitation":0},{"dt":1610823240,"precipitation":0},{"dt":1610823300,"precipitation":0},{"dt":1610823360,"precipitation":0},{"dt":1610823420,"precipitation":0},{"dt":1610823480,"precipitation":0},{"dt":1610823540,"precipitation":0},{"dt":1610823600,"precipitation":0},{"dt":1610823660,"precipitation":0},{"dt":1610823720,"precipitation":0},{"dt":1610823780,"precipitation":0},{"dt":1610823840,"precipitati[...]
