---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&location=%7B%22location%22=%3E%22%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 20 Jan 2021 08:48:59 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"\"}"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Martins
        Location","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"NH","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"US/GEO/p0/89377","unknownInput":"","type":"s","latLng":{"lat":44.32686,"lng":-71.21378},"displayLatLng":{"lat":44.32686,"lng":-71.21378},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&type=map&size=225,160&locations=44.32686,-71.21378|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2098893481"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Greater
        Tubatse-Fetakgomo","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Limpopo","adminArea3Type":"State","adminArea1":"ZA","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=90b7b46942482cad09acd0411e6fd039&lat=44.32686&lon=-71.21378&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.3269,"lon":-71.2138,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1611132539,"sunrise":1611144838,"sunset":1611178655,"temp":14.16,"feels_like":-12.73,"pressure":1012,"humidity":100,"dew_point":14.16,"uvi":0,"clouds":90,"visibility":101,"wind_speed":37.98,"wind_deg":270,"wind_gust":43.73,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"},{"id":741,"main":"Fog","description":"fog","icon":"50n"}]},"hourly":[{"dt":1611129600,"temp":14.16,"feels_like":6.82,"pressure":1012,"humidity":100,"dew_point":14.16,"uvi":0,"clouds":90,"visibility":3767,"wind_speed":3.29,"wind_deg":253,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.25},{"dt":1611133200,"temp":16.88,"feels_like":9.77,"pressure":1012,"humidity":98,"dew_point":16.47,"uvi":0,"clouds":95,"visibility":2537,"wind_speed":3.2,"wind_deg":278,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.27},{"dt":1611136800,"temp":18.25,"feels_like":11.43,"pressure":1011,"humidity":96,"dew_point":17.4,"uvi":0,"clouds":97,"visibility":1806,"wind_speed":2.8,"wind_deg":283,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.31,"snow":{"1h":0.13}},{"dt":1611140400,"temp":18.99,"feels_like":12.36,"pressure":1012,"humidity":95,"dew_point":17.92,"uvi":0,"clouds":98,"visibility":2998,"wind_speed":2.55,"wind_deg":287,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.31,"snow":{"1h":0.12}},{"dt":1611144000,"temp":18.66,"feels_like":11.91,"pressure":1011,"humidity":95,"dew_point":17.6,"uvi":0,"clouds":99,"visibility":2709,"wind_speed":2.71,"wind_deg":293,"weather":[{"id":600,"main":"Snow","[...]
