---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&location=%7B%22location%22=%3E%22denver,%20co%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 30 Jan 2021 23:09:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"denver,
        co\"}"},"locations":[{"street":"Denver West County Mills Boulevard","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p0/2093399","unknownInput":"","type":"s","latLng":{"lat":39.72906,"lng":-105.16534},"displayLatLng":{"lat":39.72906,"lng":-105.16534},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&type=map&size=225,160&locations=39.72906,-105.16534|marker-sm-50318A-1&scalebar=true&zoom=15&rand=265649667"},{"street":"Denver
        Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Aiken","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"SC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"29803","geocodeQualityCode":"B3CCA","ge[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=90b7b46942482cad09acd0411e6fd039&lat=39.72906&lon=-105.16534&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7291,"lon":-105.1653,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1612048164,"sunrise":1612015806,"sunset":1612052267,"temp":46.45,"feels_like":40.48,"pressure":1013,"humidity":28,"dew_point":17.01,"uvi":0.27,"clouds":10,"visibility":10000,"wind_speed":1.01,"wind_deg":113,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1612048200,"precipitation":0},{"dt":1612048260,"precipitation":0},{"dt":1612048320,"precipitation":0},{"dt":1612048380,"precipitation":0},{"dt":1612048440,"precipitation":0},{"dt":1612048500,"precipitation":0},{"dt":1612048560,"precipitation":0},{"dt":1612048620,"precipitation":0},{"dt":1612048680,"precipitation":0},{"dt":1612048740,"precipitation":0},{"dt":1612048800,"precipitation":0},{"dt":1612048860,"precipitation":0},{"dt":1612048920,"precipitation":0},{"dt":1612048980,"precipitation":0},{"dt":1612049040,"precipitati[...]
