---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Pueblo&open_now=true&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer O1e1jAeUFmrRf9UngEwSHtZpj4PiyeGvZwoaH6T2I2k5Reb8qvZYtQ_W2EbfZ3xOguKJl6h3Z2DVG6eShDVQF0YrYHf9IAbXgpveimlfk0fKMn6nn3gDeqVdP_IFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4990'
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - 7bf7bd5c16f45afb
      Ratelimit-Resettime:
      - '2021-01-31T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-75466bd675-7rsvg; site=public_api_v3
      X-Proxied:
      - 10-69-95-86-uswest2aprod
      X-Extlb:
      - 10-69-95-86-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "kQxM1xlaZfQmXpKaqMTNnw", "alias": "wonderful-bistro-pueblo",
        "name": "Wonderful Bistro", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/EIPRzs68vSrQ_2tCf5pQNw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wonderful-bistro-pueblo?adjust_creative=tUVIupRtW2WGbzsc8ulTGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tUVIupRtW2WGbzsc8ulTGw",
        "review_count": 64, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.0, "coordinates": {"latitude": 38.319366, "longitude": -104.616623},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "4602
        N Elizabeth St", "address2": "Ste 120", "address3": "", "city": "Pueblo",
        "zip_code": "81008", "country": "US", "state": "CO", "display_address": ["4602
        N Elizabeth St", "Ste 120", "Pueblo, CO 81008"]}, "phone": "+17195440233",
        "display_phone": "(719) 544-0233", "distance": 6632.28027227077}, {"id": "M4MwxQAA58B7ENV8ootI-w",
        "alias": "kans-kitchen-pueblo", "name": "Kan''s Kitchen", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/RxBfJ3hjre51jCpXqNlfjA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kans-kitchen-pueblo?adjust_creative=tUVIupRtW2WGbzsc8ulTGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tUVIupRtW2WGbzsc8ulTGw",
        "review_count": 20, "categories": [{"alias": "chinese", "title": "Chinese[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Denver&key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&to=Pueblo&transportMode=AUTO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sat, 30 Jan 2021 23:09:23 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.605087,"lat":38.265427},"ul":{"lng":-104.98761,"lat":39.738453}},"distance":111.38,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"01:44:22","sessionId":"6015e723-003e-6750-02b4-3282-0a649f3ff0e3","hasAccessRestriction":false,"realTime":6515,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":5.5,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to PUEBLO, CO.","distance":111.38,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"01:44:22","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":5,"time":6262,"hasUnpaved":false,"origNarrative":"Go
        south on N Broadway.","maneuvers":[{"distance":0.109,"streets":["N Sherman
        St"],"narrative":"Start out going south on N Sherman St toward E 13th Ave.","turnType":0,"startPoint":{"lng":-104.984856,"lat":39.738453},"index":0,"formattedTime":"00:00:33","directionName":"South","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&size=225,160&locations=39.73845291137695,-104.98485565185547|marker-1||39.73687744140625,-104.9848403930664|marker-2||&center=39.7376651763916,-104.98484802246094&defaultMarker=none&zoom=13&rand=736983341&session=6015e723-003e-6750-02b4-3282-0a649f3ff0e3","transportMode":"AUTO","attributes":0,"time":33,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":4},{"distance":0.135,"streets":["E
        13th Ave"],"narrative":"Turn right onto E 13th Ave.","turnType":2,"startPoint":{"lng":-104.98484,"lat":39.736877},"index":1,"formattedTime":"00:00:22","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&size=225,160&locations=39.73687744140625,-104.9848403930664|marker-2||39.73686981201172,-104.98737335205078|marker-3||&center=39.736873626708984,-104[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&location=Pueblo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 30 Jan 2021 23:09:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Pueblo"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pueblo","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040865","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=D1W96vpjcjhrfUAs2j5VM72LizjADOc5&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1479248584"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Conciliaci\u00F3n","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MONTEVIDEO","adminArea3Type":"State","adminArea1":"UY","adminArea1Type":"Country","po[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=90b7b46942482cad09acd0411e6fd039&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1612048147,"sunrise":1612015490,"sunset":1612052317,"temp":53.22,"feels_like":39.58,"pressure":1012,"humidity":32,"dew_point":25.05,"uvi":0.3,"clouds":90,"visibility":10000,"wind_speed":16.11,"wind_deg":20,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1612048200,"precipitation":0},{"dt":1612048260,"precipitation":0},{"dt":1612048320,"precipitation":0},{"dt":1612048380,"precipitation":0},{"dt":1612048440,"precipitation":0},{"dt":1612048500,"precipitation":0},{"dt":1612048560,"precipitation":0},{"dt":1612048620,"precipitation":0},{"dt":1612048680,"precipitation":0},{"dt":1612048740,"precipitation":0},{"dt":1612048800,"precipitation":0},{"dt":1612048860,"precipitation":0},{"dt":1612048920,"precipitation":0},{"dt":1612048980,"precipitation":0},{"dt":1612049040,"precipitati[...]
