---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=9fVsutzFsCX6yI-pwlq_dlAKcwlJyed0vuVGQUyOzps&query=%7B%22location%22=%3E%22denver,%20co%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=9fVsutzFsCX6yI-pwlq_dlAKcwlJyed0vuVGQUyOzps&page=273&query=%7B%22location%22%3D%3E%22denver%2C+co%22%7D>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=9fVsutzFsCX6yI-pwlq_dlAKcwlJyed0vuVGQUyOzps&page=2&query=%7B%22location%22%3D%3E%22denver%2C+co%22%7D>;
        rel="next"
      X-Total:
      - '2726'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: "{\"total\":2726,\"total_pages\":273,\"results\":[{\"id\":\"chaqHXlOzYs\",\"created_at\":\"2018-02-23T17:18:23-05:00\",\"updated_at\":\"2021-01-16T11:02:47-05:00\",\"promoted_at\":null,\"width\":6000,\"height\":4000,\"color\":\"#0c2626\",\"blur_hash\":\"LRCP|u9F9F%M~qD%IUx]-;MxWBof\",\"description\":\"Walking
        the streets of downtown Denver on a foggy, freezing cold day.\",\"alt_description\":\"woman
        walking on street near SUV during daytime\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixid=MXwxOTkxNTl8MHwxfHNlYXJjaHwxfHwlN0IlMjJsb2NhdGlvbiUyMj0lM0UlMjJkZW52ZXIsJTIwY28lMjIlN0R8ZW58MHx8fA\\u0026ixlib=rb-1.2.1\",\"full\":\"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?crop=entropy\\u0026cs=srgb\\u0026fm=jpg\\u0026ixid=MXwxOTkxNTl8MHwxfHNlYXJjaHwxfHwlN0IlMjJsb2NhdGlvbiUyMj0lM0UlMjJkZW52ZXIsJTIwY28lMjIlN0R8ZW58MHx8fA\\u0026ixlib=rb-1.2.1\\u0026q=85\",\"regular\":\"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MXwxOTkxNTl8MHwxfHNlYXJjaHwxfHwlN0IlMjJsb2NhdGlvbiUyMj0lM0UlMjJkZW52ZXIsJTIwY28lMjIlN0R8ZW58MHx8fA\\u0026ixlib=rb-1.2.1\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MXwxOTkxNTl8MHwxfHNlYXJjaHwxfHwlN0IlMjJsb2NhdGlvbiUyMj0lM0UlMjJkZW52ZXIsJTIwY28lMjIlN0R8ZW58MHx8fA\\u0026ixlib=rb-1.2.1\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MXwxOTkxNTl8MHwxfHNlYXJjaHwxfHwlN0IlMjJsb2NhdGlvbiUyMj0lM0UlMjJkZW52ZXIsJTIwY28lMjIlN0R8ZW58MHx8fA\\u0026ixlib=rb-1.2.1\\u0026q=80\\u0026w=200\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/chaqHXlOzYs\",\"html\":\"https://unsplash.com/photos/chaqHXlOzYs\",\"download\":\"https://unsplash.com/photos/chaqHXlOzYs/download\",\"download_location\":\"https://api.unsplash.com/photos/chaqHXlOzYs/download\"},\"categories\":[],\"likes\":136,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"user\":{\"id\":\"R9wpgxVwO48\",\"updated_at\":\"2021-01-16T13:09:31-05:00\",\"username\":\"owencavlys\",\"name\":\"Owen
        Lystrup\",\"first_name\":\"Owen\",\"last_name\":\"Lystrup\",\"twitter_username\":\"owen_lystrup\",\"portfolio_url\":\"https://owenlystrup.com\",\"bio\":\"Photographer,
        writer, editor, creative director. \\r\\n See more of my photography here:
        instagram.com/@owencavlys/  See my writing here: medium.com/cisco-shifted\",\"location\":\"Denver,
        by way of Mojave, San Francisco, and Los Angeles\",\"links\":{\"self\":\"https://api.unsplash.com/users/owencavlys\",\"html\":\"https://unsplash.com/@owencavlys\",\"photos\":\"https://api.unsplash.com/users/owencavlys/photos\",\"likes\":\"https://api.unsplash.com/users/owencavlys/likes\",\"portfolio\":\"https://api.unsplash.com/users/owencavlys/portfolio\",\"following\":\"https://api.unsplash.com/users/owencavlys/following\",\"followers\":\"https://api.unsplash.com/users/owencavlys/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-1497426481273-c0e02f108715?ixlib=rb-1.2.1\\u0026q=80\\u0026fm=jpg\\u0026crop=faces\\u0026cs=tinysrgb\\u0026fit=crop\\u0026h=32\\u0026w=32\",\"medium\":\"https://images.unsplash.com/profile-1497426481273-c0e02f108715?ixlib=rb-1.2.1\\u0026q=80\\u0026fm=jpg\\u0026crop=faces\\u0026cs=tinysrgb\\u0026fit=crop\\u0026h=64\\u0026w=64\",\"large\":\"https://images.unsplash.com/profile-1497426481273-c0e02f108715?ixlib=rb-1.2.1\\u0026q=80\\u0026fm=jpg\\u0026crop=faces\\u0026cs=tinysrgb\\u0026fit=crop\\u0026h=128\\u0026w=128\"},\"instagram_username\":\"owencavlys\",\"total_collections\":0,\"total_likes\":185,\"total_photos\":24,\"accepted_tos\":true},\"tags\":[{\"type\":\"landing_page\",\"title\":\"car\",\"source\":{\"ancestry\":{\"type\":{\"slug\":\"images\",\"pretty_slug\":\"Images\"},\"category\":{\"slug\":\"things\",\"pretty_slug\":\"Things\"},\"subcategory\":{\"slug\":\"car\",\"pretty_slug\":\"Car\"}},\"title\":\"Car
        Images \\u0026 Pictures\",\"subtitle\":\"Download free car images\",\"description\":\"Choose
        from a curated selection of car photos. Always free on Unsplash.\",\"meta_title\":\"Best
        500+ Car Photos [Spectacular] | Download Car Images \\u0026 Pictures - Unsplash\",\"meta_description\":\"Choose
        from hundreds of free car pictures. Download HD car photos for free on Unsplash.\",\"cover_photo\":{\"id\":\"m3m-lnR90uM\",\"created_at\":\"2017-04-14T00:59:12-04:00\",\"updated_at\":\"2021-01-04T08:01:29-05:00\",\"promoted_at\":\"2017-04-14T13:20:15-04:00\",\"width\":5357,\"height\":3164,\"color\":\"#262640\",\"blur_hash\":\"L95Y4=I9Mw%NWAj?j]a}8^%hxvIA\",\"description\":\"I
        shot this while doing a job for a luxury automotive storage facility in Baltimore,
        MD. I wanted to create an ominous sense of intrigue, giving the feeling of
        a space that was both expansive and en[...]
